<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>London Like A Local</title>
  <meta name="description" content="">
  <meta name="author" content="CF:G">

  <link rel="stylesheet" href="styles.css">

</head>

<body>
<header>Hello!</header>
</body>
</html>
