<%= erb :header %>
<main>
	 <img src= "/big-ben.jpg" class="big-ben"/>
  <h1 class = "main title">About Us</h1>
  <h3 class="tagline">Tired of the same old tourist spots? Ready to see another side of London and experience it like a local? Then, we’ve got you covered! London Like A Local is the brainchild of Natalie, Lizzy, Connie, Rosie and Roisin. Phew, that was a mouthful! We’re Londoners who know the city like the back of our hands and want to give you the lowdown on the hippest events happening here.<br><br> So why not skip the tour buses and experience London like a local today?
  </h3>
  <br>
  <br>
  <br>
  <br>
  <br>
</main>


<%= erb :footer %>