<!doctype html>
<link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>London Like A Local</title></head>
<body>
  <!-- Navigation -->
<header>
  <div class="container">
    <ul class="menu">
      <li><a href="/">Home</a></li>
    </ul>
    <!-- <img src="/LLAL-logo.svg"/> -->
  </div>
</header>
</body>
