<!doctype html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" type="text/css" href="<%= url("/style.css")%>">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Hello from Sinatra</title></head>
<body>

  <!-- Navigation -->
<nav class="nav-bar">
  <a href="#home" class="nav-bar-item">Home</a>
  <a href="#about us" class="nav-bar-item">About Us</a>
  <a href="#contact" class="nav-bar-item">Contact</a>
</nav>

  <!-- Fetches data from input -->
<% if @name %>
  <h1>Hello <%= @name %>!</h1>
<% else %>
  <h1>Hello world!</h1>
<% end %>




<!-- Footer -->
<footer class="footer">
  <!-- contact us -->
  <div id = "contact-form">
    <p class = "footer-text">Get In Touch!</p>
    <form method = "post" action = "/signup">
      <label for="name">Name: </label>
      <input type="text" id="name" name="name" value="" placeholder="Rob Paskin" required="required" autofocus="autofocus"/>
      <label for="email">Email address: </label>
      <input type="email" id="email" name="email" value="" placeholder="rob@example.com" required="required"/>
      <input type="submit" value="submit" id="submit-button">
    </form>
  </div>

  <!-- buttons -->
  <a href="#"><i class="fa fa-facebook-official"></i></a><a href="#"><i class="fa fa-twitter"></i></a>
  <p class="footer-text"> A project for <a href="https://www.codefirstgirls.org.uk/" target="_blank">Code First: Girls</a>
  </p>
</footer>


</body>
</html>
