<%= erb :header %>

<main>
  <div class="intro">
    <img src="/LLAL-logo.svg"/>
    <h1 class = "main title">Discover London.</h1>
    <h3 class = "tagline">Skip the tourist destinations and experience London like a local. Choose a location and a type of activity, and voila - London is your oyster.</h3>
  </div>
  <!-- Event form -->
  <div id = "event-choice-form">
    <form method="post" action="/events">
      <section>
        <legend><h2>What would you like to do, and where?</h2></legend><br>
        <input type="text" id="location" class = "box" name="location" value="" placeholder="Location e.g. Soho" required="required" autofocus="autofocus"/><br>
        <input type="keyword" id="keyword" class = "box" name="keyword" value="" placeholder="Keyword e.g. Theatre" required="required"/><br>
        <input type="submit" value="Submit" id="submit-button" class= "button">
      </section>
    </form>
  </div>
</main>

<%= erb :footer %>
