<%= erb :header %>
<main>
  <div class="intro">
    <img src="/LLAL-logo.svg"/>
    <p class="main-title">Oh, Crumbs!</p>
  </div>
  <div class = "main-body">
    <p class = "search-tips">Search tips</p>
    <ul class = "search-bullets">
      <li>Please check your spelling</li>
      <li>Try a similar search term</li>
      <li>Try one of the options shown below:</li>
    </ul>
  </div>
  <div class = "examples">
    <div class = "search-box">Comedy</div>
    <div class = "search-box">Nightlife</div>
    <div class = "search-box">Food</div>
    <div class = "search-box">Concert</div>
    <div class = "search-box">Family</div>
    <div class = "search-box">Museum</div>
  </div>
</main>
<%= erb :footer %>
