<%= erb :header %>

<main>
  <div class="intro">
    <img src="/LLAL-logo.svg"/>
    <h1 class = "main-title">Oh, Crumbs!</h1>
    <h3 class = "tagline">WOOPS</h3>
  </div>
</main>

<%= erb :footer %>
