<%= erb :header %>

<main>
    <img src="/LLAL-logo.svg"/>
    <h1 class = "main title">Results</h1>
    <h3 class = "tagline">And just raise cain. I'm gonna start with a little Alizarin crimson and a touch of Prussian blue You can do anything your heart can imagine. Let's put some highlights on these little trees. The sun wouldn't forget them. This is probably the greatest thing that's ever happened in my life.

If we're gonna walk though the woods, we need a little path. Don't hurry. Take your time and enjoy. You have to allow the paint to break to make it beautiful. We start with a vision in our heart, and we put it on canvas. Let's make some happy little clouds in our world.

This is a happy place, little squirrels live here and play. Life is too short to be alone, too precious. Share it with a friend. This is probably the greatest thing to happen in my life - to be able to share this with you. Once you learn the technique, ohhh! Turn you loose on the world; you become a tiger. If you do too much it's going to lose its effectiveness.

</h3>
</main>

<%= erb :footer %>
