<%= erb :header %>

<main>
    <img src="/LLAL-logo.svg"/>
    <h1 class = "main title">Results</h1>
    <h3 class = "tagline">
      <p>Here are the top 5 results for your search. Hope there's something for you!</p>
    </h3>
    <% i = 0 %>
      <% @result.each do |event| %>
        <% if i < 5 %>
          <small><%= event["start_time"]%> - <%= event["title"] %></small>
          <h4></h4>
          <% i += 1 %>
        <% end %>
      <% end %>

</main>

<%= erb :footer %>
