<%= erb :header %>

<main>
    <img src="/LLAL-logo.svg"/>
    <h1 class = "main title">Thank you!</h1>
    <h3 class = "tagline">You've signed up to have a great time!<br>Expect great offers and hilarious memes.</h3>
</main>

<%= erb :footer %>
