@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Serif');
* {
  margin: 0;
  padding: 0;
  font-family: Open Sans;
}

header {
  background-color: #2F74AF;
  color: #ffffff;
  padding: 10px;
}

header ul.menu li {
    margin-top: 10px;
    display: inline-block !important;
    font-weight: 700;
    margin-right: 10px;
    opacity: 0.8;
    font-family: Open Sans;
}
header ul.menu li a {
    color: #ffffff;
    text-decoration: none;
}
header ul.menu li a:hover {
    text-decoration: underline;
}

img {
  height: 100px;
  margin: 40px;
}

main img {
  height: 200px;
  float: right;
  margin: 0px auto;
}


.container, main {
  max-width: 800px;
  margin: 0px auto;
}

main {
  padding: 10px 10px 10px 10px;
}

main h1, main h2, main h3, main h4, main h5 {
  color: #231f20;
  margin: 20px 0px;
}

main p {
  margin: 15px 0px;
}

.intro::after {
  content: "";
  clear: both;
  display: block;
}

section, ul.results li {
  padding: 30px;
  margin: 30px 0px;
  border: 1px solid #dee0e2;
  text-align: center;
  font-size: 1em;
}

ul.results {
  list-style-type: none;
}

p.main-title {
  font-size: 3em;
  font-style: italic;
  padding-top: 70px;
  padding-left: 40px;
}

.search-tips, .explanation {
  text-align: left;
  font-size: 1.5em;
  padding-left: 40px;
  padding-bottom: 10px;
}

.search-bullets {
  text-align: left;
  font-size: 1em;
  padding-left: 100px;
  padding-bottom: 20px;
}

.examples {
  display: flex;
  flex-flow: row wrap;
  height: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  justify-content: space-around;
}

.examples a {
  color: #ffffff;
  text-decoration: none;
}

.search-box {
  background-color: #2F74AF;
  margin: auto;
  padding: 15px;
  font-size: 1.2em;
  color: white;
  text-align: center;
  width: 90px;
  height: auto;
}

.box {
  font-size: 1em;
  margin: 5px;
  padding: 10px;
}

.button {
  background-color: #BB0A21;
  display: inline-block;
  padding: 12px 22px;
  color: #ffffff;
  font-size: 1em;
  border: none;
  text-decoration: none;
  margin: 10px;
}

footer {
  position:fixed;
  bottom:0;
  height: 150px;
  width: 100%;
  background-color: #dee0e2;
  color: #6f777b;
  padding: 20px 10px;
  font-size: 0.8em;
}

.footer-box {
  font-size: 1em;
  margin: 2px;
  padding: 5px;
}

.footer-button {
  background-color: #6f777b;
  display: inline-block;
  padding: 6px 18px;
  color: #ffffff;
  font-size: 1em;
  border: none;
  text-decoration: none;
  margin: 10px;
}

#contact-form {
  float: left;
  display: inline-block;
}

i {
  float: right;
  color: #6f777b;
}

.fa {
  display: inline-block;
  padding: 10px;
  margin-left: 30px;
}

.clearfix{
  clear: both
}

.big-ben {
  width: 210px;
  height: auto;
}
